extends layout

block content
  h1= title
  p Welcome to #{title}
  nav 
    ul    
      li
        a(href="/hello.html") パブリックコンテンツ 
      li
        a(href="/private/hello.html") プライベートコンテンツ

  include login.jade