{
  "dialog": [
    {
	"name": "dialog-service",
	"label": "dialog",
	"plan": "standard",
	"credentials": {
	    "url": "https://gateway.watsonplatform.net/dialog/api",
	    "password": "************",
	    "username": "********-****-****-****-************",
	    "version": "v1"
	}
    }
  ]
}
