{
  "credentials": {
    "url": "https://gateway.watsonplatform.net/natural-language-classifier/api",
    "password": "************",
    "username": "********-****-****-****-************",
    "version": "v1"
  }
}
