{
    "pageID": "facebook page id",
    "appID": "facebook application id",
    "appSecret": "facebook applicaiton secret",
    "validationToken": "facebook validation token",
    "pageToken": "facebook page token",
    "https": {
        "key":  "lets_encript.key",
        "cert": "lets_encript_fullchain.crt"
    }
}
