{
    "credentials": {
      "url": "https://gateway.watsonplatform.net/retrieve-and-rank/api",
      "password": "************",
      "username": "********-****-****-****-************",
      "version": "v1"
    }
}
