{
    "id": "**********",
    "mid": "*********************************",
    "secret": "********************************",
    "server": {
        "port": "3000",
        "key":  "lets_encript.key",
        "cert": "lets_encript_fullchain.crt"
    }
}

