{
  "credentials": {
      "username": "********-****-****-****-************-bluemix",
      "password": "****************************************************************",
      "host": "********-****-****-****-************-bluemix.cloudant.com",
      "port": 443,
      "url": "https://********-****-****-****-************-bluemix:****************************************************************@********-****-****-****-************-bluemix.cloudant.com"
  }
}
